.container {
  max-width: 1200px;
  margin: 0 auto;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.topHeadRow p,
.list p,
.list div {
  text-align: center;
  width: 15rem;
}

.topHeadRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #171821;
  color: #91a0b5;
  padding: 1rem;
  border-top-right-radius: 0.5rem;
  border-top-left-radius: 0.5rem;
  font-weight: bold;
  font-size: larger;
  border-bottom: 2px solid #91a0b5;
}

.list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #171821;
  color: #91a0b5;
  padding: 1rem;
}

.bottomTable{
  height: 0.5rem;
  background: #171821;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  margin-bottom: 4rem;
}

.modal{
 width: 50rem;
 height: 30rem;
 background: #171821;
 margin: 3rem auto;
 border-radius: 1rem;
 padding: 2rem;
}