.section {
  max-width: 1200px;
  margin: 3rem auto;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  background: #171821;
  color: white;
  padding: 3rem 3rem;
  border-radius: 1.5rem;
}

.section p {
  font-size: 1.6rem;
}

.section button {
  height: 4rem;
  padding: 0 1rem;
  border-radius: 2rem;
  font-size: 1rem;
  font-weight: 500;
  background: white;
  cursor: pointer;
  color: #171821;
  transition: all 0.3s ease;
}

.section button:hover {
  background: #171821;
  color: white;
  border: 2px solid white;
}

@media (max-width: 1199px) {
  .section {
    border-radius: 0;
  }
}

@media (max-width: 768px) {
  .section {
    flex-direction: column;
    border-radius: 0;
    padding: 1rem;
    gap: 1.5rem;
  }
  .section p {
    text-align: center;
  }
  .section button {
    height: 3rem;
    padding: 0 0.5rem;
  }
}
