.section {
  max-width: 1300px;
  margin: 2rem auto;
  border-radius: 1rem;
  display: flex;
  gap: 5rem;
  padding: 2rem;
  background: rgb(242, 242, 242);
  align-items: center;
  justify-content: center;
}

.right {
  width: 65%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: baseline;
}

.section img {
  width: 10rem;
}

.section h1 {
  color: #171821;
  font-size: 2.3rem;
  font-weight: 500;
  margin-bottom: 1rem;
}

.section button {
  padding: 1.3rem 2.3rem;
  border-radius: 2rem;
  border: 2px solid #171821;
  background: #171821;
  color: white;
  font-size: 1.2rem;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
}

.section button:hover {
  background: white;
  border: 2px solid #171821;
  color: #171821;
}
