.section {
  max-width: 1200px;
  margin: 3rem auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  padding-bottom: 2rem;
  background: #171821;
  color: white;
  border-radius: 1.5rem;
  flex-direction: column;
}

.section p {
  font-size: 1.6rem;
}

.section button {
  height: 4rem;
  padding: 0 1rem;
  border-radius: 2rem;
  font-size: 1.1rem;
  font-weight: 500;
  background: white;
  cursor: pointer;
  color: #171821;
  transition: all 0.3s ease;
}

.section button:hover {
  background: #171821;
  color: white;
  border: 2px solid white;
}
