.container {
  max-width: 1300px;
  display: flex;
  justify-content: space-between;
  margin: 3rem auto;
  padding: 1rem;
}

.left {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.right {
  width: 43%;
}

.left h1 {
  font-size: 3rem;
  letter-spacing: 0.1rem;
  margin-bottom: 0;
  color: #171821;
}
.left p {
  font-size: 1.1rem;
  margin-bottom: 3rem;
}

.btnGroup {
  display: flex;
  gap: 1rem;
  align-items: flex-start;
}

.btn {
  padding: 0.8rem 1.5rem;
  border-radius: 1.5rem;
  font-size: 1.1rem;
  font-weight: 500;
  background: #171821;
  cursor: pointer;
  color: white;
  transition: all 0.3s ease;
  outline: none;
  border: none;
}

.btn:hover {
  background: #f3f6f9;
  color: #171821;
}

@media (max-width: 1000px) {
  .container {
    flex-direction: column-reverse;
    align-items: center;
  }

  .left {
    width: 100%;
    align-items: center;
    text-align: center;
  }

  .right {
    width: 100%;
    
    /* margin-top: 2rem; */
  }
}

@media (max-width: 600px) {
  .left h1 {
    font-size: 2.5rem;
  }

  .left p {
    font-size: 1rem;
  }

  .btnGroup {
    flex-direction: column;
    align-items: center;
  }

  .btn {
    padding: 0.5rem 1rem;
    font-size: 1rem;
  }
}
