.section {
  max-width: 1300px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section h1{
     font-size: 2.5rem;
     margin: 4rem 0 3rem 0;
}

.feature {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

.card {
  padding: 0 1.5rem;
  text-align: center;
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.card h2{
     width: 80%;
}

.card img {
  width: 6rem;
}

