footer {
  display: flex;
  justify-content: center;
  gap: 50rem;
  align-items: center;
  height: 5rem;
  background: rgb(241, 241, 241);
  border-top: 2px solid rgb(192, 190, 190);
}

.box{
  display: flex;
  gap: 2rem;
  align-items: center;
}

.box a{
  text-decoration: none;
}

.box img{
  width: 2rem;
  height: 2rem;
}