footer {
  display: flex;
  justify-content: center;
  gap: 50rem;
  align-items: center;
  height: 5rem;
  background: #171821;
  border-top: 2px solid #eaccf4;
  color: white;
}

.box {
  display: flex;
  gap: 2rem;
  align-items: center;
}

.box a {
  text-decoration: none;
}

.box img {
  width: 2rem;
  height: 2rem;
}
