@import url('https://fonts.googleapis.com/css2?family=Finger+Paint&family=Play:wght@400;700&display=swap');

.container {
  max-width: 1300px;
  margin: 0 auto;
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}

.container img {
  width: 50rem;
}

/* login */
.loginform {
  width: 25rem;
  height: 25rem;
  padding: 2rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #f3f6f9;
}

.loginform label {
  margin-left: 0.5rem;
}

.loginform input {
  margin-bottom: 1.5rem;
  padding: 0.5rem;
  border-radius: 1rem;
  border: 2px solid black;
}

.loginform input:focus {
  border: 2px solid blueviolet;
  outline: none;
}

.loginform .tpButton {
  margin-top: 1rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: none;
  background: rgb(0, 0, 0);
  color: white;
  font-size: 1rem;
  cursor: pointer;
}

.loginform .btn {
  margin-top: 0.5rem;
  padding: 0.2rem;
  border: none;
  background: transparent;
  color: blueviolet;
  font-size: 1rem;
  cursor: pointer;
}
.loginform p,
.loginform a {
  text-align: center;
  text-decoration: none;
}

/* signup */
.signUpform .btn {
  margin-top: 0.5rem;
  padding: 0.2rem;
  border: none;
  background: transparent;
  color: blueviolet;
  font-size: 1rem;
  cursor: pointer;
}

.signUpform {
  width: 25rem;
  height: 27rem;
  padding: 2rem;
  border-radius: 1rem;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  background: #f3f6f9;
}

.signUpform label {
  margin-left: 0.5rem;
}

.signUpform input {
  margin-bottom: 1rem;
  padding: 0.5rem;
  border-radius: 1rem;
  border: 2px solid black;
}

.signUpform input:focus {
  border: 2px solid blueviolet;
  outline: none;
}

.signUpform .tpButton {
  margin-top: 1rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: none;
  background: rgb(0, 0, 0);
  color: white;
  font-size: 1rem;
  cursor: pointer;
}

.signUpform p,
.signUpform a {
  text-align: center;
  text-decoration: none;
}

/* forget */
.forget {
  margin-top: 0;
  color: blueviolet;
  cursor: pointer;
}

.forgetForm {
  width: 25rem;
  height: 12rem;
  padding: 2rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  background: #f3f6f9;
  justify-content: space-between;
}

.forgetForm label {
  margin-left: 0.5rem;
}

.forgetForm input {
  margin-bottom: 1rem;
  padding: 0.5rem;
  border-radius: 1rem;
  border: 2px solid black;
}

.forgetForm input:focus {
  border: 2px solid blueviolet;
  outline: none;
}

.forgetForm button {
  margin-top: 0.5rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: none;
  background: rgb(0, 0, 0);
  color: white;
  font-size: 1rem;
  cursor: pointer;
}

/* forget modal */
.forgetModal {
  margin-top: 10rem !important;
}

.forgetContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: baseline;
  height: 100%;
}

/* extra */
.error {
  color: red;
  text-align: center;
  font-size: 0.8rem;
  margin-top: 0;
  margin-bottom: 0.5rem;
  padding: 0;
}

.upperText {
  display: none;
  font-weight: bold;
  font-size: 1.5rem;
}

.upperText span {
  color: blueviolet;
  font-family: 'Play', sans-serif;
}

@media (max-width: 1300px) {
  .container img {
    width: 40rem;
  }
}

@media (max-width: 1150px) {
  .container img {
    width: 30rem;
  }
  .loginform {
    width: 20rem;
    height: 25rem;
  }
  .signUpform {
    width: 20rem;
    height: 27rem;
  }
  .forgetForm {
    width: 20rem;
    height: 12rem;
  }
}

@media (max-width: 960px) {
  .container {
    gap: 1rem;
  }
  .loginform {
    width: 15rem;
    height: 25rem;
  }
  .signUpform {
    width: 15rem;
    height: 27rem;
  }
  .forgetForm {
    width: 15rem;
    height: 12rem;
  }
  .forgetModal {
    width: 80% !important;
    margin-top: 30% !important;
  }
}

@media (max-width: 930px) {
  .upperText {
    display: block;
    text-align: center;
  }
  .container {
    flex-direction: column;
  }
  .container img {
    display: none;
  }
  .loginform {
    width: 29rem;
    height: 25rem;
  }
  .signUpform {
    width: 29rem;
    height: 27rem;
  }
  .forgetForm {
    width: 29rem;
    height: 12rem;
  }
}

@media (max-width: 460px) {
  .loginform {
    width: 22rem;
    height: 25rem;
  }
  .signUpform {
    width: 20rem;
    height: 27rem;
  }
  .forgetForm {
    width: 20rem;
    height: 12rem;
  }
}
